html {
  height: 100%;
  width: 100%;
}

h1{
    font-size:48px;
}

h2{
    font-size:24px;
}
body{
    background-image: url("images/rainforest.jpeg"); 
    background-size: 1920px 1080px;
}

#bigDiv{
    font-family:Montserrat;
    background-color: lightgreen;
    opacity: 0.8;
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 2%;
}

button{
  background-color: #3a983d; /* Green */
  opacity: 1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
    cursor: pointer;
    border-radius: 20px;
}

h3{
    font-size: 30px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttdiv{
    padding: 15px 32px;
    opacity: 1;
}

#info{
    
    padding: 4%;
    padding-top: 0%;
    font-size: 30px;
    
}